
<!DOCTYPE html>
<html>
  <head>
    <title>My Travel Journal</title>
  </head>
  <body>
    <h1>Travel Journal</h1>
    <h2>@Model.GetRecipient()</h2>
    <h6>January 1st, 2000</h6>
    <p>I love my mother   <h2>@Model.GetSender()</h2></p>
  </body>
</html>
